certifi==2023.11.17
charset-normalizer==3.4.1
idna==3.10
ntnx-aiops-py-client==4.0.1
ntnx-clustermgmt-py-client==4.0.1
ntnx-iam-py-client==4.0.1
ntnx-lifecycle-py-client==4.0.1
ntnx-microseg-py-client==4.0.1
ntnx-networking-py-client==4.0.1
ntnx-opsmgmt-py-client==4.0.1
ntnx-prism-py-client==4.0.1
ntnx-vmm-py-client==4.0.1
pprintpp==0.4.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
requests==2.32.2
ruff==0.1.15
six==1.17.0
termcolor==2.5.0
urllib3==1.26.20
